<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.sch.smktelkom_mlg.project.xirpl501101928.plantable">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PLANTABLE"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".JerukActivity" />
        <activity android:name=".SemangkaActivity" />
        <activity android:name=".PisangActivity" />
        <activity android:name=".StrawberryActivity" />
        <activity android:name=".ApelActivity" />
        <activity android:name=".BawangActivity" />
        <activity android:name=".BayamActivity" />
        <activity android:name=".CabeActivity" />
        <activity android:name=".TomatActivity" />
        <activity android:name=".KentangActivity" />
        <activity android:name=".TimunActivity" />
        <activity android:name=".SawiActivity" />
        <activity android:name=".TerongActivity" />
        <activity android:name=".WortelActivity" />
        <activity android:name=".BlueberryActivity" />
        <activity android:name=".NanasActivity" />
        <activity android:name=".ManggaActivity" />
        <activity android:name=".AnggurActivity" />
        <activity android:name=".MatahariActivity" />
        <activity android:name=".KaktusActivity" />
        <activity android:name=".MelatiActivity" />
        <activity android:name=".TulipActivity" />
        <activity android:name=".AnggrekActivity" />
        <activity android:name=".SepatuActivity"></activity>
    </application>

</manifest>